html
  head
    title Taller Ingeniería de Software

    <style type="text/css">
      include ../styles/conversion.css
    </style>
 
  body
    h1 Conversor de moneda
    p Ingrese valor:

    select(id="currencyFrom")
      option(value="ARS") ARS
      option(value="USD") USD
      option(value="EUR") EUR

    input(id="value")

    p Convertir a:
    select(id="currencyTo")
      option(value="ARS") ARS
      option(value="USD") USD
      option(value="EUR") EUR

    div(class="button")
      a(id="convert" class="convert")  Convertir

    div
      p(id="resultsText")

  <script>
    include ../scripts/conversion.js
  </script>
